/* Universal Values */
:root{

}

/* Body */
body{
    height: 100dvh!important;
    width: 100dvw;
    background: var(--bs-light);
}

/* Hide Scrollbar */
*::-webkit-scrollbar{display:none}*{scrollbar-width:none}body{overflow:hidden}


/* Main Container */
.container{
    max-width: 400px;
}

/* Hide the default checkbox */
input[type="checkbox"] {
    appearance: none;
  }

/* Style the checkbox when checked */
input[type="checkbox"]:checked {
    background-color:black; /* Change to your desired color */
    border-color: black;
}

/* Header */
.header{
  height: 60px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index:0;
  background:var(--bs-light);
}

/* Sidebar Menu */
#sidebar{
  position: relative;
}


/* /////////  Chat Page ////////////*/
/* Chat Container */
.globalChat{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
  width: 100%;
}

/* Global Chat */
.chatContainer{
  position: relative;
  height: calc(100% - 60px);
  top:60px;
  padding: 8px;
  border-radius: 23px;
  background: var(--bs-white);
}

/* Chat Box */
.chatBox{
  height: 100%;
  width: 100%;
  background: var(--bs-light);
  box-sizing: border-box;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-bottom: 100px; */
}

/* Message Template */
.messageTemplate{
  margin: 10px 0;
}
.messageTemplate .time{
  font-size: 12px;
}
.messageTemplate .message{
  display: inline-block;
  width: auto;
  max-width: 50%;
  padding: 3px 0;
  margin-left: 40px;
}

/* Message Input Box */
.chatContainer #message{
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: calc(100% - 40px);
  padding: 0 20px;
}
.chatContainer #sendMessageBtn{
  display: inline-block;
  position: absolute;
  right: 25px;
  bottom: 20px;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  line-height: 15px;
}
#sendMessageBtn:hover{
  background: var(--bs-gray-400);
}



/* Responsive */
@media screen and (max-width: 480px){
  /* Hide Sidebar */
  .sidebar{
    display: none!important;
  }
  .chatContainer{
    width: 100vw;
  }
  .messageTemplate .message{
    max-width: 100%;
  }
}