/* Universal Values */
:root{

}

/* Body */
body{
    height: 100dvh!important;
    width: 100dvw;
    background: var(--bs-light);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Hide Scrollbar */
*::-webkit-scrollbar{display:none}*{scrollbar-width:none}body{overflow:hidden}

/* Main Container */
.container{
    max-width: 400px;
}

/* Hide the default checkbox */
input[type="checkbox"] {
    appearance: none;
  }

/* Style the checkbox when checked */
input[type="checkbox"]:checked {
    background-color:black; /* Change to your desired color */
    border-color: black;
    border-radius: 100%;
    padding: 2px;
}

/* Header */
.header{
  height: 60px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index:1;
  background:var(--bs-white);
}

/* Sidebar Menu */
.sidebar{
  position: relative;
  width: auto;
  min-width: 300px;
  z-index: 2;
}


/* /////////  Chat Page ////////////*/
/* Chat Container */
.globalChat{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
  width: 100%;
}

/* Global Chat */
.chatContainer{
  position: relative;
  height: calc(100% - 60px);
  top:60px;
  /* padding: 8px; */
  /* border-radius: 23px; */
  background: var(--bs-white);
}

/* Chat Box */
.chatBox{
  height: 100%;
  width: 100%;
  background: inherit;
  box-sizing: border-box;
  /* border-radius: 15px; */
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-bottom: 100px; */
}

/* Message Template */
.messageTemplate{
  margin: 20px 0;
}
.messageTemplate .time{
  font-size: 12px;
}
.messageTemplate .message{
  display: inline-block;
  width: auto;
  max-width: 50%;
  padding: 3px 0;
  margin-left: 40px;
  word-break: break-word;
  margin-bottom: 0;
}
.messageTemplate .actionMenuBtn{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  margin-left: 2px;
}
.actionMenuBtn:active{
  border: 1.5px solid var(--bs-gray-500);
}

/* Message Input Box */
.chatContainer #message{
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 50px;
  width: calc(100% - 40px);
  padding: 0 20px;
}
.chatContainer #sendMessageBtn{
  display: inline-block;
  position: absolute;
  right: 25px;
  bottom: 25px;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  line-height: 15px;
}
#sendMessageBtn:active{
  background: var(--bs-gray-400);
}

/* Mobile Menu */
.mobileMenu{
  display: none;
  position: absolute;
  z-index: 99;
  left: -100%;
  height: 100%;
  width: 75%;
  transition: all 0.4s cubic-bezier(0.68, -0.0, 0.10, 1);
}
.mobileMenu.active{
  position: absolute;
  left: 0;
  box-shadow: 200px 0 0px 0px rgba(255, 255, 255, 0.8);
}
.menuBtn{
  display: none;
}
/* Profile Widget Icon */
.profileWidgetIcon{
  height: 40px;
  width: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profileWidget.dropdown-menu{
  transform: translate3d(-10px, 10px, 0px)!important;
  transition: all .3s ease;
  /* display: block;
  position: absolute;
  right: 0;
  top: 0; */
  opacity: 1;
  box-shadow: -500px 50px 0px 1080px rgba(255, 255, 255, .5);
}


/* Responsive */
@media screen and (max-width: 480px){
  /* Hide Sidebar */
  .globalChat .sidebar{
    display: none!important;
  }
  /* Mobile Menu */
  .mobileMenu{
    display: block;
  }
  .menuBtn{
    display: block;
  }
  .chatContainer{
    width: 100vw;
  }
  .messageTemplate .message{
    max-width: 100%;
  }
}